body {
  font-family: "Open Sans", sans-serif;
  background-color: #252526;
  color: #cccccc;
}

.error {
  text-align: center;
}

.sorting select{
  font-family: "Open Sans", sans-serif;
  background-color: #252526;
  color: #cccccc;
  outline: none;
  width: 200px;
  height: 2em;
  font-size: 1em;
  border: 1px solid #ddd;
}

.search input {
  font-family: "Open Sans", sans-serif;
  background-color: #252526;
  color: #cccccc;
  outline: none;
  width: 200px;
  height: 2em;
  font-size: 1em;
  border: 1px solid #ddd;
}

video {
  width: 100%;
}

.header{
  color: #cccccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20%;
}

.header a {
  color: #cccccc;
  text-decoration: none;
}


.video-container {
  margin: 0 auto;
  display: grid;
  grid-row-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  max-width: 1370px;
}

@media(max-width:1370px){
  .video-container {
     grid-template-columns: repeat(3, 1fr);
  }
}

@media(max-width:1020px){
  .video-container {
     grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width:670px){
  .video-container {
     grid-template-columns: repeat(1, 1fr);
  }
}

/* Video preview styling */
.thumbnail {
  position: relative;
  overflow: hidden;
  width: 320px;
  height: 320px;
}

.thumbnail a {
  width: 320px;
  height: 240px;
}

.thumbnail p.title {
  position: absolute;
  top: 240px;
  left: 0;
  margin: 0;
  margin-top: 5px;
  color: #cccccc;
}

.thumbnail img {
  width: 320px;
  height: 240px;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.image1 {
  z-index: 5;
}

.image2 {
  z-index: 4;
}

.image3 {
  z-index: 3;
}

.image4 {
  z-index: 2;
}

.image5 {
  z-index: 1;
}

.thumbnail:hover .image1 {
  opacity: 0;
  transition-delay: 0.75s;
}

.thumbnail:hover .image2 {
  opacity: 0;
  transition-delay: 1.5s;
}

.thumbnail:hover .image3 {
  opacity: 0;
  transition-delay: 2.25s;
}

.thumbnail:hover .image4 {
  opacity: 0;
  transition-delay: 3s;
}

.duration {
  padding: 5px;
  background-color: #1e1e1e;
  position: absolute;
  top: 185px;
  left: 5px;
  z-index: 100;
  color: #cccccc;
}

/* Pagination styling */
.pagination {
  display: inline-block;
}

.pagination a {
  color: #cccccc;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #1e1e1e;
  color: #cccccc;
  border: 1px solid #1e1e1e;
}

.pagination a:hover:not(.active) {
  background-color: #cccccc;
  color: #252526
}

.pagination-btn {
  margin: 20px 5px;
}

.pagination-container {
  display: flex;
  justify-content: center;
}
