body {
  font-family: "Open Sans", sans-serif;
}

.video-container {
  margin: 0 auto;
  display: grid;
  grid-row-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  max-width: 1370px;
}

@media(max-width:1370px){
  .video-container {
     grid-template-columns: repeat(3, 1fr);
  }
}

@media(max-width:1020px){
  .video-container {
     grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width:670px){
  .video-container {
     grid-template-columns: repeat(1, 1fr);
  }
}

video {
  width: 100%;
}

.header{
  display: flex;
}

/* Video preview styling */
#fadeImage {
  position: relative;
  overflow: hidden;
}

.thumbnail {
  width: 320px;
  height: 240px;
}

#fadeImage img {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 1;
  transition: opacity 0.5s linear;
}

#image1 {
  z-index: 5;
}

#image2 {
  z-index: 4;
}

#image3 {
  z-index: 3;
}

#image4 {
  z-index: 2;
}

#image5 {
  z-index: 1;
}

#fadeImage:hover #image1 {
  opacity: 0;
  transition-delay: 0.75s;
}

#fadeImage:hover #image2 {
  opacity: 0;
  transition-delay: 1.5s;
}

#fadeImage:hover #image3 {
  opacity: 0;
  transition-delay: 2.25s;
}

#fadeImage:hover #image4 {
  opacity: 0;
  transition-delay: 3s;
}

/* Pagination styling */
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: red;
  color: white;
  border: 1px solid red;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.pagination-btn {
  margin: 20px 5px;
}

.pagination-container {
  display: flex;
  justify-content: center;
}
