doctype html
html(lang="en")
  include includes/header.pug
  include includes/mixins.pug

  body
    div(class="header")
      a(href="/")
        h1=header
      +search
      +sort(sort)

    h2.error='Not Found'