doctype html
html(lang="en")
  include includes/header.pug
  include includes/mixins.pug
  body
    h1 Videos
    .video-container
        each v in videos
            +vid(v.name, '/videos/'+v.id, v.thumbnails)

    div(class="pagination-container")
      +pagination(current, total, prefix)


    