doctype html
html(lang="en")
  include includes/header.pug
  include includes/mixins.pug
  body
    h1=title
    video(width="640", height="480", controls, autoplay)
        source(src=url, type="video/mp4")
        p Your browser does not support the video tag.
    h2 See also
    div(class="video-container")
      each v in suggestions
        +vid(v.name, '/videos/'+v.id, v.thumbnails)



    